<h2>My Question Bank</h2>

<li *ngFor="let question of questionBank;let currentIndex = index" id="base">
        Question No. : {{ question.questionId }} <br>
        <h1>{{test}}</h1>
      <div style="color: blueviolet; padding: 20px;">
        Question  : {{ question.questionText }} <br>
        <input type="radio" [name]="question.questionId" [(ngModel)]="test" [id]="'option1' + question.questionId" [value]="question.option1">
        <label [for]="'option1' + question.questionId">{{question.option1}}</label> <br>
        <input type="radio" [name]="question.questionId" [(ngModel)]="answerList[currentIndex].answer" [id]="'option2' + question.questionId" [value]="question.option2"> 
        <label [for]="'option2' + question.questionId">{{question.option2}}</label> <br>
        <input type="radio" [name]="question.questionId" [(ngModel)]="answerList[currentIndex].answer" [id]="'option3' + question.questionId" [value]="question.option3"> 
        <label [for]="'option3' + question.questionId">{{question.option3}}</label> <br>
        <input type="radio" [name]="question.questionId" [(ngModel)]="answerList[currentIndex].answer" [id]="'option4' + question.questionId" [value]="question.option4"> 
        <label [for]="'option4' + question.questionId">{{question.option4}}</label> <br>
    </div>
</li>

<input type="submit" (click)="check()"/>